*{
  margin-bottom:8px;
  font-weight:600;
  color:#e2e8f0;
}

input,
select,
textarea{
  width:100%;
  padding:14px;
  border-radius:14px;
  border:1px solid rgba(255,255,255,0.15);
  background:rgba(255,255,255,0.06);
  color:#fff;
  font-size:15px;
  transition:0.3s;
}

input::placeholder,
textarea::placeholder{
  color:#cbd5e1;
}

input:focus,
select:focus,
textarea:focus{
  outline:none;
  border-color:#38bdf8;
  box-shadow:0 0 0 4px rgba(56,189,248,.2);
}

select option{
  color:#000;
}

textarea{
  resize:vertical;
}

hr{
  border:none;
  height:1px;
  background:rgba(255,255,255,.1);
  margin:25px 0;
}

.submit-btn{
  width:100%;
  margin-top:25px;
  padding:15px;
  border:none;
  border-radius:16px;
  background:linear-gradient(135deg,#0ea5e9,#2563eb);
  color:#fff;
  font-size:16px;
  font-weight:700;
  cursor:pointer;
  transition:0.3s;
}

.submit-btn:hover{
  transform:translateY(-2px);
  box-shadow:0 10px 20px rgba(37,99,235,.35);
}

#result{
  margin-top:18px;
  text-align:center;
  font-weight:bold;
  color:#38bdf8;
}

@media(max-width:768px){

  .card{
    padding:22px;
  }

  .header h2{
    font-size:26px;
  }

}
